#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;  
}

.mybutton {
  background-color: lightblue;
  margin: 3px;
}

body {
  /*margin: 0;*/
  display: flex;
  place-items: center;
}


